.header-bg {
    background-color: var(--cor-1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 20px;
    z-index: 3;
    position: relative;
}

.header {
    color: var(--cor-12);
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    display: inline-block;
    padding: 16px 0px;
    position: relative;
}

.header-menu a::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    transition: 0.3s;
    margin-top: 4px;
    background-color: var(--cor-12);
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%;
}

#btn-mobile {
    display: none;
}

@media(max-width:800px) {
    .header {
        color: var(--cor-0);
    }
    .header-bg {
        background-color: var(--cor-12);
    }
    .header-menu {
        position: absolute;
        width: 60%;
        top: 72px;
        right: 0;
        background-color: var(--cor-12);
        z-index: 1;
        height: 0px;
        display: block;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    .header-menu li {
        border-bottom: 2px solid rgba(51, 51, 51, 0.226);
    }
    .header-menu li:last-child {
        border: none;
        padding-bottom: 12px;
    }
    .header-menu a {
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
        color: var(--cor-0);
    }
    .header-menu a::after {
        display: none;
    }
    .header-menu a:hover {
        color: #ffffffab;
    }
    #btn-mobile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
        color: var(--cor-0);
    }
    #hamburguer {
        width: 24px;
        display: block;
        border-top: 2px solid;
        color: var(--cor-0);
    }
    #hamburguer::after,
    #hamburguer::before {
        content: "";
        display: block;
        width: 24px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
        transition: .3s;
    }
    nav.ativo .header-menu {
        height: calc(100vh - 129px);
        visibility: visible;
    }
    nav.ativo #hamburguer {
        border-top-color: transparent;
    }
    nav.ativo #hamburguer::before {
        transform: rotate(135deg);
    }
    nav.ativo #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}