            .main-bg {
                background-color: var(--cor-1);
            }
            
            .main {
                position: relative;
            }
            
            .main::before {
                content: "";
                display: block;
                background: url("../../icons/Group.svg");
                width: 605px;
                height: 500px;
                bottom: 0;
                left: 0;
                opacity: 0.7;
                position: absolute;
            }
            
            .main .texto,
            .main-img {
                z-index: 1;
            }
            
            .texto p {
                max-width: 40ch;
                color: #333639;
                margin-bottom: 20px;
            }
            
            .texto-span {
                font-weight: normal;
                display: inline-block;
                margin-top: 60px;
            }
            
            .main p span {
                font-weight: 500;
                color: var(--cor-13);
                display: inline;
            }
            
            .main-img {
                width: 100%;
            }
            
            .main {
                padding-right: 0px;
            }
            
            @media (min-width: 1200px) {
                .container {
                    max-width: 1600px;
                    padding-left: 60px;
                }
            }
            
            .main-img img {
                display: block;
                width: 100%;
                max-height: 800px;
                object-position: top;
                object-fit: cover;
                background: #EDD4C6;
            }
            
            .main .botao:hover {
                color: var(--cor-0);
            }
            
            @media (max-width: 800px) {
                .main {
                    padding-right: 20px;
                }
                .main::before {
                    display: none;
                }
                .texto span {
                    margin-top: 0;
                }
                .texto p {
                    max-width: 65ch;
                    color: var(--cinza);
                }
            }
            
            @media (max-width: 600px) {
                .main-img img {
                    height: 500px;
                }
            }