.servicos {
    background-color: var(--cor-1);
}

.servicos .texto-span {
    margin-top: 0px;
}

.servicos-texto p {
    color: #717171;
}

.slide {
    overflow: hidden;
}

.slide-itens {
    transform: translate3d(-0px, 0px, 0px);
}

.slide ul {
    display: flex;
    gap: 40px;
}

.slide img {
    display: block;
}

@media (max-width: 800px) {}