.servicos {
    background-color: var(--cor-1);
}

.servicos-texto {
    align-self: center;
}

.servicos .container {
    padding-right: 0px;
}

.servicos .texto-span {
    margin-top: 0px;
}

.servicos-texto p {
    color: #717171;
}

.slide {
    overflow: hidden;
}

.slide-itens {
    transform: translate3d(-0px, 0px, 0px);
    transition: .6s;
}

.slide ul {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.slide img {
    border-radius: 5px 5px 0px 0px;
}

.slide span {
    color: var(--cor-12);
    text-align: center;
    background-color: #FFB5AB;
    padding: 10px 0px;
    display: block;
}

.slide img {
    display: block;
}

.slide .botao {
    border: none;
}

@media (max-width: 800px) {}