.conteudo {
    background: var(--cor-13);
    background-image: url("../../img/fundo-conteudo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.container-img {
    width: 100%;
    z-index: 1;
}

.container-img span {
    color: #FF9081;
    display: inline-block;
}