.contato {
    background-color: var(--cor-0);
    position: relative;
}

.contato h2,
.contato li {
    padding-bottom: 20px;
}

.itens a {
    display: flex;
}

.contato li img {
    padding-right: 32px;
}

.container-contato::after {
    content: "";
    display: block;
    background: url("../../icons/Group.svg");
    width: 605px;
    height: 400px;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    position: absolute;

}

.redes {
    max-width: 160px;
    display: flex;
    justify-content: space-between;
}

.formulario {
    padding: 40px;
    display: grid;
    grid-template-columns: 1fr;
}

form,
input,
textarea {
    font: 400 1.2rem/1.5 "Roboto", sans-serif;
}

.formulario p {
    color: #333639;
    margin-bottom: 20px;
}

input {
    border-color: transparent;
    border-bottom: 2px solid var(--cor-13);
    padding: 10px 0px;
    background: transparent;
}

input::placeholder {
    color: var(--cor-13);
}

label {
    color: var(--cor-13);
    display: block;
    margin-bottom: 10px;
}

textarea {
    resize: none;
    border: 2px solid;
}

input,
textarea {
    margin-bottom: 20px;
}

textarea {
    background: transparent;
}

input:focus,
textarea:focus {
    outline: none;
}

.formulario .botao {
    border: none;
}

@media (max-width: 800px) {
    .formulario {
        padding: 20px;
        padding-left: 0;
    }

    .formulario p {
        font-size: 0.8rem;
    }

    .redes {
        margin-bottom: 30px;
    }

    .container-contato::after {
        display: none;
    }

}