:root {
    --cor-0: #ffffff;
    --cor-1: #FDF5F0;
    --cor-12: #121212;
    --cor-13: #000000;
    --cor-hover: #222222;
    --cinza: #333639;
}

.cor-0 {
    color: var(--cor-0);
}

.cor-1 {
    color: var(--cor-1);
}

.cor-12 {
    color: var(--cor-12);
}

.cor-12 {
    color: var(--cor-13);
}

.cinza {
    color: var(--cor-13);
}